<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XQKDY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD4D55DD1E977DF300F0CBC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD4D55F61E977DF300F0CBC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD4D56011E977DF300F0CBC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
